<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
<h1> Hourly Click Through Rate Dashboard </h1>
<div id="container" style="height: 600px; min-width: 310px"></div>
<script>
    $(function () {
        var ctr = {{ ctr|tojson|safe }};
        var page_types = {{ page_types|tojson|safe }};
        var mydata = [];
        var seriesOptions = [],
            seriesCounter = 0,
            // create the chart when all data is loaded
            createChart = function () {

                $('#container').highcharts('StockChart', {

                    rangeSelector: {
                        selected: 4
                    },

                    yAxis: {
                        labels: {
                            formatter: function () {
                                return (this.value > 0 ? ' + ' : '') + this.value + '%';
                            }
                        },
                        plotLines: [{
                            value: 0,
                            width: 2,
                            color: 'silver'
                        }]
                    },

                    plotOptions: {
                        series: {
                            // compare: 'percent'
                        }
                    },

                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                        valueDecimals: 2
                    },

                    series: seriesOptions
                });
            };

          for (i = 0; i < page_types.length; i++) {
                seriesOptions[i] = {
                    name: page_types[i],
                    data: ctr[page_types[i]]
                };

                // As we're loading the data asynchronously, we don't know what order it will arrive. So
                // we keep a counter and create the chart when all the data is loaded.
                seriesCounter += 1; };

                if (seriesCounter === page_types.length) {
                    createChart();
                }
        });
</script>

<form method="post" action="{{ url_for('ctr_filter') }}">
  <div id='page_types'>
  <h3> Page Type </h3>
  <SELECT name="my_page_types" MULTIPLE SIZE = 10>
  <OPTION  value = "All" selected> All </OPTION>
    {% for i in range (0, page_types|length) %}
    <OPTION name="page_types" value = {{ page_types[i]|tojson|safe }} > {{ page_types[i]|tojson|safe }} </OPTION>
    {% endfor %}
  </SELECT> </div>

  <div id = 'rec_sources'>
  <h3> Rec Sources </h3>
  <SELECT name="placements" MULTIPLE SIZE = 10>
  <OPTION name="rec_sources" value = "All" selected> All </OPTION>
    {% for i in range (0, rec_sources|length) %}
    <OPTION name="rec_sources" value = {{ rec_sources[i]|tojson|safe }} > {{ rec_sources[i]|tojson|safe }} </OPTION>
    {% endfor %}
  </SELECT> </div>


  <div id='placements'>
  <h3> Placements </h3>
  <SELECT name="my_placements" MULTIPLE SIZE = 10>
  <OPTION name="placements" value = "All" selected> All </OPTION>
    {% for i in range (0, placements|length) %}
    <OPTION name="placements" value = {{ placements[i]|tojson|safe }} > {{ placements[i]|tojson|safe }} </OPTION>
    {% endfor %}
  </SELECT> </div>

  <div id='strategies'>
  <h3> Strategies </h3>
  <SELECT name="placements" MULTIPLE SIZE = 10>
    <OPTION name="strategies" value = "All" selected> All </OPTION>
    {% for i in range (0, strategies|length) %}
    <OPTION name="strategies" value = {{ strategies[i]|tojson|safe }} > {{ strategies[i]|tojson|safe }} </OPTION>
    {% endfor %}
  </SELECT> </div>
<div id='submit_button'>
<!-- <h3><br> <br> Press Submit </h3> -->
<br>
<input type="submit" class=myButton />
</div>
</form>

</html>
